<!DOCTYPE html>
<html>
  <head>
    <title>Demande de ticket</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Demande de ticket
      <form action="/" method="post">
         <input class="submit" type="submit" value="Appuyer ici">
      </form>
    </h1>
  </body>
</html>
