<!DOCTYPE html>
<html>
  <head>
    <title>Demande de ticket</title>
  </head>
  <body>
    <table>
      <tr>
	<td><h1>Demande de ticket : </h1></td><td> </td>
	<td><form action="/" method="post"><input class="submit" type="submit" value="Appuyer ici"></form></td>
      </tr>
    </table>
  </body>
</html>

