<!DOCTYPE html>
<html>
  <head>
    <title>Votre ticket</title>
  </head>
  <body>
    <h1>Votre ticket a le num&eacute;ro
    <% if (ticketNumber) { %>
      <%= ticketNumber %> 
    <% } %>
    </h1>
    traitement :
    <% if (ipHost) { %>
      <%= ipHost %> 
    <% } %>
    <br>  
    frontal :
    <% if (ipFront) { %>
      <%= ipFront %> 
    <% } %>  
  </body>
</html>
